extends layout

block content

  h2 #{dateTimeHelpers.formatDateHumanFriendly(userData.createdAt)}
  article.row
    div.col.s12.m3
      div.card
        p
          a.btn-floating.halfway-fab.waves-effect.waves-light.js-toggle(data-toggle-id='#edit-session')
            +icon('#edit')
        div.card-content
          ul.plain
            li 
              p
                strong Distance 
              p #{rowingDataHelpers.timesToKm(userData.times, userData.multi, 4.805)}
            li 
              p
                strong Time
              p #{dateTimeHelpers.timesToDuration(userData.times)}
            li 
              p 
                strong Average speed
              p -
        div#edit-session.hide
          form.card-content(action='/api/rowingData/update', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='sessionId', value=userData._id)
            .input-field
              label(for='refDistance') Ref distance (for testing)
              input(type='text', id='refDistance' name='refDistance' value=userData.refDistance)
            button.btn(type='submit') Update
          form.card-content(action='/api/rowingData/delete', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='sessionId', value=userData._id)
            button.btn.js-delete(type='submit') Delete
    div.col.s12.m9
      div.card
        div.card-content
          canvas#data-chart.js-data-chart(width="400" height="400" data-constant=4.805 data-strokes=userData.times data-sample-point=10)
